@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/halimun'); */

footer {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12rem;
    background-color: rgba(250, 243, 230);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-container {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    color: rgb(21, 71, 38);
    font-size: 0.8rem;
}
.footer-container div a {
    color: rgb(21, 71, 38, 0.7);
    text-decoration: none;
}
.footer-container div a span {
    position: relative;
    padding-left: .4rem;
    bottom: .45rem;
    color: rgb(21, 71, 38, 0.7);
    /* font-family: 'Halimun', sans-serif; */
}
.footer-container div span {
    position: relative;
    padding-left: .4rem;
    bottom: .45rem;
    user-select: none;
    /* font-family: 'Halimun', sans-serif; */
}
.footer-container div h2 {
    user-select: none;
}
.footer-container div img {
    margin-top: .8rem;
    max-width: 85%;
    filter: grayscale(70%);
}
/* .footer-container div img:hover {
    filter: grayscale(35%);
    transition: all 0.1s;
} */

.footer-container div div a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.footer-container div div a:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color:rgb(21, 71, 38);
} 
.footer-container div div a:hover span {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color:rgb(21, 71, 38);
} 
.footer-container div {
    width: 18rem;
}

@media screen and (max-width: 700px) {
    footer {
        height: 16rem;
        margin-top: 8rem;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        color: rgb(21, 71, 38);
        font-size: 0.8rem;
        margin-top: 1.4rem;
    }
    .footer-div {
        margin-bottom: 1rem;
    }
}