@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/halimun');

header {
    width: 100%;
    height: 6rem;
    background-color: rgba(250, 243, 230);
    /* color: rgb(176, 19, 14); */
    color: rgb(21, 71, 38);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

header div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div div {
    width: 15rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    user-select: none;
}

.logo {
    width: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -1rem;
    user-select: none;
    cursor: pointer;
    font-family: 'Halimun', sans-serif;
}
.logo h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
header div div p {
    font-size: 1rem;
    margin: -1rem;
    margin-top: -1.2rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(21, 71, 38, 0.9);
    font-size: 1rem;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  nav ul li a:after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: rgb(21, 71, 38);
      width: 0;
      left: 50%;
      bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  
  nav ul li a:hover {
      color: rgb(21, 71, 38);
  }
  
  nav ul li a:hover:after {
      width: 100%;
  }

.shopping-cart {
    margin-top: .2rem;
    position: relative;
    width: 1rem;
    margin-left: 4rem;
    cursor: pointer;
}
.number-cart {
    position: absolute;
    width: 0.1rem;
    left: 1.4rem;
    bottom: .8rem;
}